<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Update Course</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">

</head>
<body>

	<section class="cover">
      	<div class="container">
	        <div class="row vh-100 align-items-center text-center">
	            <div class="col-sm">
	            	<div class="text">
	            		<h1 class="probootstrap-heading text-white mb-4"></h1><img src="{{ url_for('static', filename='images/update.png') }}" alt="Home"</a></h1>					
	            	</div>
	        	</div>
	      	</div>
	    </div>
	</section>
	<div class="formwrap">
	    <form action="/course-update" method="POST">
	        {{form.hidden_tag()}}
	        
	        <div class="row">
	        	{{form.new_cid(class="input100", placeholder="Course ID")}}
		        <ul>
					{% for error in form.new_cid.errors %}
					 	<li style = "color:red;"> {{ error }}</li>
					{% endfor %}
				</ul>

			</div>

			<br>

			<div class="row">
	        	{{form.new_cname(class="input100", placeholder="Update Course Title")}}
	         	<ul>
					{% for error in form.new_cname.errors %}
					 	<li style = "color:red;"> {{ error }}</li>
					{% endfor %}
			 	</ul>
	        
	        	{{form.new_ccollege(class="input100", placeholder="Update College")}}
		         <ul>
					{% for error in form.new_ccollege.errors %}
					 	<li style = "color:red;"> {{ error }}</li>
					{% endfor %}
				 </ul>
			</div>

			<div class="row">
	        	{{form.submit(class="btn2 btn2-primary mr-2 mb-2")}}
	    	</div>
	    </form>
 	</div>

 	<div style="width:10%; margin:0 auto;">
		<a href="/course" class="btn btn-primary mr-2 mb-2">Go Back</a>
	</div>
	
</body>
</html>